# Ignore gem file lock
Gemfile.lock

# Ignore bundler config.
/.bundle

# Ignored all log, doc and temp files etc.
.idea
.env
/.yardoc
/_yardoc/*
/coverage/*
/doc/*
/log/*
/pkg/*
/tmp/*

# Ignore Mac files
**.DS_Store
